@import url("desktopstyle.css");
@import url("tabletstyle.css");
@import url("mobilestyle.css");

/* -------------------- UNIVERSAL STYLING --------------------*/
* {
    box-sizing: content-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #191919;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Source Code Pro", serif;
    font-style: normal;
    font-size: 4rem;
    color: #FF6600;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    margin: 0.625rem;
}

h2 {
    font-family: "Source Code Pro", serif;
    font-size: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    font-weight: 700;
    color: #FF6600;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

#page-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 0.625rem;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 3.125rem;
    right: 3.125rem;
    border: 0.03125rem solid #f6f6f5;
    border-radius: 0.625rem;
    padding: 0.3125rem;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0.0625rem 0.0625rem 0.1875rem black;
    /*background-color: #eaebea;
    color: #9395a1;*/
}

#back-to-top:hover {
    box-shadow: inset 0.0625rem 0.0625rem 0.1875rem black;
    cursor: pointer;
    /*background-color: lightgray;*/
}

/* -------------------- BACKGROUND CONTAINER STYLING --------------------*/
#background-container {
    display: flex;
    flex: 0 1 0;
    background-color: #191919;
    background-image: url("../images/page-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 60.625rem;
}

/* -------------------- MAIN CONTENT CONTAINER STYLING --------------------*/
#page-container {
    animation: slide 1s forwards;
    transform: translate(-200%, 200%);
    display: flex;
    flex-direction: column;
    min-height: 51.25rem;
    width: 100%;
    min-width: 23.125rem;
    padding: 0;
    border: 0.03125rem solid #f6f6f5;
    border-radius: 0.625rem;
}

@keyframes slide {
    0% {transform: translate(-200%, 200%);}
    100% {transform: translateY(0%);}
}

/* -------------------- HEADER STYLING --------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f5;
    margin: 0;
    height: 3.125rem;
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

#close-buttons {
    margin: 0.75rem auto auto 1rem;
}

#search-bar {
    text-align: center;
    width: 100%;
    padding-top: 0.25rem;
    padding-right: 4.75rem;
}

/* -------------------- NAV STYLING --------------------*/
nav {
    display: block;
}

nav ul {
    display: block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 25%;
    display: inline-block;
}

nav ul li span {
    padding-top: 0.5rem;
    display: inline-block;
    width: 100%;
    height: 1.5rem;
    background-color: #f6f6f5;
    color: #9395a1;
    border-bottom: 0.03125rem solid #9395a1; 
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 1.5rem;
    background-color: #eaebea;
    color: #9395a1;
    text-decoration: none;
    padding-top: 0.5rem;
    box-shadow: inset 0 0.03125rem 0.125rem #9395a1;
    border-bottom: 0.03125rem solid #9395a1;
}

nav li a:hover {
    background-color: lightgray;
}

#sub-heading {
    font-size: 2.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    font-weight: 700;
}

#skills-sub-heading {
    font-family: "Source Code Pro", serif;
    font-size: 2.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    font-weight: 700;
    color: #FF6600;
    margin-bottom: 0;
}

/* -------------------- MAIN STYLING --------------------*/
main {
    display: flex;
    flex: 1 1 0;
    padding: 0;
    background-color: black;
    width: 100%;
    border-radius: 0 0 0.625rem 0.625rem;
}

/* -------------------- FILTER LAYER STYLING --------------------*/
#layer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 0 0 0.625rem 0.625rem;
}

/* -------------------- HOME PAGE SPECIFIC STYLING --------------------*/
#home-background {
    display: flex;
    flex: 1 1 0;
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    border-radius: 0 0 0.625rem 0.625rem;
}

#server-started {
    display: none;
    position: absolute;
    bottom: 1.5625rem;
    right: 0.9375rem;
    z-index: 2;
}

#server-offline {
    display: none;
    position: absolute;
    bottom: 1.5rem;
    right: 0.875rem;
    z-index: 1;
}

/* -------------------- ABOUT PAGE SPECIFIC STYLING --------------------*/
#about-background {
    display: flex;
    flex: 1 1 0;
    background-image: url("../images/about-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    border-radius: 0 0 0.625rem 0.625rem;
}

.cv-download a {
    color: white;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

/* -------------------- PROJECTS PAGE SPECIFIC STYLING --------------------*/
#projects-background {
    background-image: url("../images/projects-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

#project-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto 3.125rem auto;
    padding: 0;
}

#kris-ailes-portfolio-fullscreen {
    display: none;
}

#hoops-project-fullscreen {
    display: none;
}

#holiday-claculator-project-fullscreen {
    display: none;
}

#jokes-project-fullscreen {
    display: none;
}

#card-validator-project-fullscreen {
    display: none;
}

#jammming-project-fullscreen {
    display: none;
}

#redditlite-project-fullscreen {
    display: none;
}

#rock-paper-scissors-project-fullscreen {
    display: none;
}

#daily-planner-project-fullscreen {
    display: none;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 21.875rem;
    height: 31.25rem;
    margin: 0.625rem;
    padding: 0;
    opacity: 1;
}

.project-container p {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.project-container img {
    padding: 0.625rem;
}

.hover-layer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 1 auto;
    text-align: center;
    width: 21.875rem;
    height: 31.25rem;
    position: absolute;
    background-color: rgba(255, 102, 0, 0.6);
    margin: 0;
    padding: 0;
}

.hover-layer a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

.hover-layer a:visited {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

.hover-layer a:hover {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

.project-button {
    width: 40%;
    margin: 0 auto;
    background-color: #FF6600;
    box-shadow: 0.0625rem 0.0625rem 0.1875rem black;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    color: white;
    cursor: pointer;
}

.project-button:active {
    box-shadow: inset 0.0625rem 0.0625rem 0.1875rem black;
}

.large-project-container {
    position: relative;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1.5625rem;
    font-weight: 400;
}

.large-project-container a {
    color: white;
    font-size: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

.large-project-container h2 {
    font-size: 2rem;
    padding: 0;
}

.large-project-container p {
    font-size: 1.5rem;
    font-weight: 400;
}

.large-project-container ul {
    font-size: 1.5rem;
    font-weight: 400;
}

.large-project-container span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.9375rem;
    font-weight: 400;
}

.large-project-container span img {
    margin-left: 0.625rem;
    margin-right: 0.3125rem;
}

.close {
    position: absolute;
    text-align: center;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0.3125rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* -------------------- CONTACT PAGE SPECIFIC STYLING --------------------*/
button,
input,
select,
textarea {
    display: block;
    font-size: 1rem;
    width: 100%;
    height: 1.875rem;
    padding: 0.3125rem;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    border: none;
    border-radius: 0.3125rem;
    box-shadow: inset 0.0625rem 0.0625rem 0.1875rem #ccc;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    margin: 0;
    padding: 1.5625rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem;
}

#message {
    height: auto;
}

#form-output {
    display: none;
    flex-direction: column;
    max-width: 25rem;
    margin: 0;
    padding: 1.5625rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem;
}

#contact-background {
    background-image: url("../images/contact-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

#contact-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

#contact-links span {
    padding: 0.625rem;
}

#contact-links span a {
    color: white;
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
}

.submit {
    font-size: 100%;
    margin: 0 auto;
    padding: 0.3125rem;
    width: 60%;
    text-shadow: none;
    background-color: #eaebea;
    color: #9395a1;
    box-shadow: inset 0.0625rem 0.0625rem 0.1875rem #9395a1;
    border: 0.03125rem solid #9395a1;
}

.submit:hover {
    background-color: lightgray;
}

.github {
    background-color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
}

.linkedin {
    width: 2rem;
    height: 2rem;
}

#email {
    margin-top: 1.5rem;
}

#email a {
    text-shadow: 0.0625rem 0.0625rem 0.125rem black;
    color: white;
}