@import url("desktopstyle.css");
@import url("tabletstyle.css");
@import url("mobilestyle.css");

/* -------------------- UNIVERSAL STYLING --------------------*/

body {
    background-color: #191919;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Source Code Pro", serif;
    font-style: normal;
    font-size: 64px;
    color: #FF6600;
    text-shadow: 1px 1px 2px black;
    margin: 10px;
}

h2 {
    font-family: "Source Code Pro", serif;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
    color: #FF6600;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
}

#page-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 10px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 0.5px solid #f6f6f5;
    border-radius: 10px;
    padding: 5px;
    z-index: 999;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
    /*background-color: #eaebea;
    color: #9395a1;*/
}

#back-to-top:hover {
    box-shadow: inset 1px 1px 3px black;
    cursor: pointer;
    /*background-color: lightgray;*/
}

/* -------------------- BACKGROUND CONTAINER STYLING --------------------*/
#background-container {
    display: flex;
    flex: 0 1 0;
    background-color: #191919;
    background-image: url("../images/page-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 970px;
}

/* -------------------- MAIN CONTENT CONTAINER STYLING --------------------*/
#page-container {
    animation: slide 1s forwards;
    transform: translate(-200%, 200%);
    display: flex;
    flex-direction: column;
    min-height: 820px;
    width: 100%;
    min-width: 370px;
    padding: 0;
    border: 0.5px solid #f6f6f5;
    border-radius: 10px;
}

@keyframes slide {
    0% {transform: translate(-200%, 200%);}
    100% {transform: translateY(0%);}
}

/* -------------------- HEADER STYLING --------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f5;
    margin: 0;
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#close-buttons {
    margin: 12px auto auto 16px;
}

#search-bar {
    text-align: center;
    width: 100%;
    padding-top: 4px;
    padding-right: 76px;
}

/* -------------------- NAV STYLING --------------------*/
nav {
    display: block;
}

nav ul {
    display: block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 25%;
    display: inline-block;
}

nav ul li span {
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    height: 24px;
    background-color: #f6f6f5;
    color: #9395a1;
    border-bottom: 0.5px solid #9395a1; 
}

nav li a {
    display: inline-block;
    width: 100%;
    height: 24px;
    background-color: #eaebea;
    color: #9395a1;
    text-decoration: none;
    padding-top: 8px;
    box-shadow: inset 0px 0.5px 2px #9395a1;
    border-bottom: 0.5px solid #9395a1;
}

nav li a:hover {
    background-color: lightgray;
}

#sub-heading {
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
}

#skills-sub-heading {
    font-family: "Source Code Pro", serif;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    font-weight: 700;
    color: #FF6600;
    margin-bottom: 0;
}

/* -------------------- MAIN STYLING --------------------*/
main {
    display: flex;
    flex: 1 1 0;
    padding: 0px;
    background-color: black;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* -------------------- FILTER LAYER STYLING --------------------*/
#layer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* -------------------- HOME PAGE SPECIFIC STYLING --------------------*/
#home-background {
    display: flex;
    flex: 1 1 0;
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

#server-started {
    display: none;
    position: absolute;
    bottom: 25px;
    right: 15px;
    z-index: 2;
}

#server-offline {
    display: none;
    position: absolute;
    bottom: 24px;
    right: 14px;
    z-index: 1;
}

/* -------------------- ABOUT PAGE SPECIFIC STYLING --------------------*/
#about-background {
    display: flex;
    flex: 1 1 0;
    background-image: url("../images/about-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* -------------------- PROJECTS PAGE SPECIFIC STYLING --------------------*/
#projects-background {
    background-image: url("../images/projects-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

#project-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto 50px auto;
    padding: 0;
}

#kris-ailes-portfolio-fullscreen {
    display: none;
}

#project-2-fullscreen {
    display: none;
}

#project-3-fullscreen {
    display: none;
}

#project-4-fullscreen {
    display: none;
}

#project-5-fullscreen {
    display: none;
}

#project-6-fullscreen {
    display: none;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 500px;
    margin: 10px;
    padding: 0px;
    opacity: 1;
}

.project-container p {
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.project-container img {
    padding: 10px;
}

.hover-layer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 1 auto;
    text-align: center;
    width: 350px;
    height: 500px;
    position: absolute;
    background-color: rgba(255, 102, 0, 0.6);
    margin: 0px;
    padding: 0;
}

.project-button {
    width: 40%;
    margin: 0 auto;
    background-color: #FF6600;
    box-shadow: 1px 1px 3px black;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    color: white;
}

.project-button:active {
    box-shadow: inset 1px 1px 3px black;
}

.large-project-container {
    position: relative;
    flex-direction: column;
    flex: 0 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 25px;
}

.large-project-container h2 {
    font-size: 32px;
    padding: 0;
}

.large-project-container p {
    font-size: 24px;
    font-weight: 400;
}

.large-project-container ul {
    font-size: 24px;
    font-weight: 400;
}

.large-project-container span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 400;
}

.large-project-container span img {
    margin-left: 10px;
    margin-right: 5px;
}

.close {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* -------------------- CONTACT PAGE SPECIFIC STYLING --------------------*/
button,
input,
select,
textarea {
    display: block;
    font-size: 16px;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px #ccc;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#message {
    height: auto;
}

#form-output {
    display: none;
    flex-direction: column;
    max-width: 400px;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#contact-background {
    background-image: url("../images/contact-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

#contact-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
}

#contact-links span {
    padding: 10px;
}

.submit {
    font-size: 100%;
    margin: 0 auto;
    padding: 5px;
    width: 60%;
    text-shadow: none;
    background-color: #eaebea;
    color: #9395a1;
    box-shadow: inset 1px 1px 3px #9395a1;
    border: 0.5px solid #9395a1;
}

.submit:hover {
    background-color: lightgray;
}

.github {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.linkedin {
    width: 32px;
    height: 32px;
}