@media only screen and (max-width: 800px) {
    /* -------------------- MOBILE SPECIFIC STYLING --------------------*/
    #background-container {
        min-width: 16.875rem;
    }

    #page-container {
        margin: 0;
        min-width: 16.875rem;
    }

    #page-content {
        padding: 1.5625rem;
        width: 90%;
        min-width: 10.625rem;
    }
    
    #server-started {
        width: 90%;
    }

    #server-started img {
        width: 100%;
    }

    #server-offline {
        width: 90%;
    }

    #server-offline img {
        width: 100%;
    }

    .close {
        top: -2.5rem;
        right: 0;
    }

    .large-project-container span a {
        font-size: 1.125rem;
    }
}